body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: #e2e3e3;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
video {
  width: 320px;
  height: 320px;
}
.camera {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.recording > button,
.camera > button {
  margin: 0.7rem;
}
h2 {
  text-align: center;
}
.recording {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery {
  /* width: 100%; */

  height: 100%;
  margin: auto;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  align-self: center;
}
.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
  padding: 0.3rem;
  border-radius: 3rem;
  width: 200px;
  height: 300px;
  background-color: #fff;
  justify-self: center;
}
.info-pic {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  background-color: rgb(240, 240, 240);
  border-radius: 0.5rem;
}
.info-pic > p {
  text-align: center;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 999rem;
  border: 2px solid rgb(26, 161, 8);
}

/* // */
.btn-active {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background: #76c369;
  border-radius: 5px;
  border: 1px solid #36b48c;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
}
.btn-active:hover {
  background: linear-gradient(to bottom, #52b36a 5%, #77b55a 100%);
  background-color: #72b352;
}
.btn-active:active {
  position: relative;
  top: 1px;
}

.btn-inactive {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
}

.hidden {
  display: none;
  visibility: hidden;
}


.download-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.download-recording {
  cursor: pointer;
  border: 0;
}

@media screen and (max-width: 870px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 665px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    align-self: center;
  }
}
@media screen and (max-width: 435px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    align-self: center;
  }
}
