body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: #e2e3e3;
}
.camera {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gallery {
  width: 60%;
  height: 500px;
  margin: auto;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
img {
  width: 100px;
  height: 100px;
}
